#background{
    border: solid black;
    height: 100vh;
    /* min-width: 1000px; */
}

#wrap{
    box-sizing: border-box;
    padding : 9%;
    width:60%;
    border: solid white 0.1px;
    border-radius: 3px;
    /* display: flex; */
    margin: 110px auto;
    text-align: center;
}

#wrap_sentence{
    /* position: relative; */
    margin-left: 100px;
    margin-top:-10%;
    /* border: solid white; */
    /* padding : 10px; */

}

#loading{
    background-color: black;
}

.logo{
    position: absolute;
    /* top: 50%; */
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);

    
}

.title{
    /* position: absolute; */
    /* margin-left: 300px; */
    /* top: 30px; */
    color: white;
    font-size: 3rem;

    
}
.image{
    /* position: absolute; */
    margin-top: 50px;
    /* border-color: blue; */
}

.deco1, .deco2, .deco3, .deco4 {
    position:absolute;
    width:80px;
    /* text-align: left; */
    /* left: 23%;
    top: 170px; */
    /* margin-top: -50px; */
    /* transform: translate(-50%, -50%); */
    
}

.deco1{
    left:21%;
    top:125px;
}

.deco2{
    /* position:absolute; */
    /* left: 70%; */
    top: 125px;
    transform:scaleX(-1);
    float:right;
    right:21%;
}

.deco3{
    position:relative;
    /* left: 75%;
    top: 125px; */
    transform:scaleY(-1);
    /* left:21%; */
    bottom:210px;
    left:21%;
}

.deco4{
    position:relative;
    /* left: 23%; */
    right:21%;
    /* top: 125px; */
    transform:rotate(180deg);
    /* left:calc(100% - 23%); */
    float:right;
    bottom:210px;
}


.summary{
    /* margin-left: 300px; */
    margin-top:20px;
    text-align: left;
    

}
.genres{
    margin-left: 300px;
    list-style: none;
    padding: 0;
    /* margin: 0; */
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;

}
.genres li{
    margin-right: 20px;
    font-size: 2rem;
    margin-top: 70px;
    
}