 div{
  font-family: death;
  font-size: 2rem;
  color: white;
  background-color: black;
 }
 
 #loading{
    text-align: center;
    margin-top: 150px;
    height: 50vh;

 }
 
 #bigtitle{
    position: absolute;
    /* text-align: center; */
    font-size:4rem;
    left: 50%;
    top: 80px;
    transform: translate(-50%, -50%);
 }

 .container {
    height: 100%;
    display: flex;
    justify-content: center;
  }
  
 .loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
  }
  
  .movies {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-gap: 100px;
    padding: 50px;
    width: 80%;
    padding-top: 70px;
  }
  
  @media screen and (max-width: 1090px) {
    .movies {
      grid-template-columns: 1fr;
      width: 100%;
    }
  } 